* {
    font-family: "Iosevka Nerd Font", "JetBrainsMono Nerd Font", monospace;
    font-weight: bold;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
}

window > box {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#window {
    background-color: #202020;
    border-radius: 4px;
    padding: 8px 12px 8px 8px;
    margin: 4px 0;
}

window#waybar.empty #window {
    background: rgba(12, 12, 12, 0);
}

.modules-left, .modules-right, .modules-center {
    padding: 3px;
}

#workspaces {
    background-color: #202020;
    border-radius: 4px;
    padding: 4px 4px 4px 6px;
    margin: 4px 0;
}

#workspaces button {
    min-height: 0;
    padding: 0 7px;
    margin-right: 2px;
    color: #f5e0dc;
}

#workspaces button.urgent {
    color: #f5e0dc;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#workspaces button.empty {
    color: #cdd6f4;
}

#workspaces button.visible {
    color: #89dceb;
}

#workspaces button.active {
    color: #fab387;
}

@keyframes blink {
    to {
        color: #202020;
        background-color: #dcf5f3;
    }
}

#custom-launcher {
    font-size: 24px;          
    background-color: #202020;
    color: #51a2da;          
    border-radius: 4px;       
    padding: 0px 16px 0px 12px; 
    margin-right: 15px;       
}

#custom-power {
    background-color: #202020;
    border-radius: 4px;
    padding: 8px 12px 8px 8px;
    margin: 4px 0;
}

#cpu {
    background-color: #202020;
    border-radius: 4px;
    padding: 8px 8px 8px 20px;
    margin: 4px 0;
    color: #f2cdcd;
}

#memory {
    background-color: #202020;
    border-radius: 4px;
    padding: 8px 8px 8px 20px;
    margin: 4px 0;
    color: #fab387;
}


#pulseaudio {
    background-color: #202020;
    border-radius: 4px;
    padding: 8px; 
    margin: 4px 0;
    color: #cdd6f4; 
}

#pulseaudio.muted {
    color: #f38ba8;
}

#clock {
    background-color: #202020;
    border-radius: 4px;
    padding: 8px 10px 10px 10px;
    margin: 4px 0;
    color: #94e2d5;
}

#network {
    background-color: #202020;
    color: #cdd6f4;
    border-radius: 4px;
    padding: 8px;
    margin: 4px 0;
}

#network.disabled {
    color: #f38ba8;
}

#tray {
    background-color: #202020;
    border-radius: 20px;
    padding: 8px 12px 8px 12px;
    margin: 4px 0;
}

#battery {
    background-color: #202020;
    color: #cdd6f4;
    border-radius: 4px;
    padding: 8px;
    margin: 4px 0;
}

#backlight {
    background-color: #202020;
    color: #cdd6f4;
    border-radius: 4px;
    padding: 8px;
    margin: 4px 0;
}
#bluetooth {
    background-color: #202020;
    color: #cdd6f4;  
    border-radius: 4px;
    padding: 8px;
    margin: 4px 0;
}

#bluetooth.off {
    color: #f38ba8;   
}

#bluetooth.connected {
    color: #89b4fa;   
}